@import '../../../constants.scss';

h2 {
  text-align: center;
}

app-spinner {
  text-align: center;
}

.hero-cards {
  display: flex;
  justify-content: center;

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-primary;
    border-radius: 0.6rem;
    width: 11rem;
    height: 11rem;
    margin: 0 1rem;
    padding: 0 1rem;

    > span {
      color: #fff;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: $color-secondary;
    }
  }
}

.error-message {
  color: red;
  font-weight: 600;
}
