@import '../../../constants.scss';

h2 {
  text-align: center;
}

app-spinner {
  text-align: center;
}

.hero-cards {
  display: flex;
  justify-content: center;

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-primary;
    color: #fff;
    font-weight: 600;
    border-radius: 0.6rem;
    width: 11rem;
    height: 11rem;
    margin: 0 1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: $color-secondary;
    }
  }
}
