<h2>Heroes list</h2>

<app-spinner *ngIf="loading$ | async; else content"></app-spinner>

<ng-template #content>
  <div class="content-wrapper">
    <div>
      <div *ngFor="let hero of heroes$ | async">
        <div
          class="list-item"
          [ngClass]="{ active: activeHero && activeHero._id === hero._id }"
          (click)="selectHero(hero)"
        >
          <div class="id">
            {{ hero._id }}
          </div>
          <div class="name">
            {{ hero.name }}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="activeHero" class="selected-hero-detail">
      <p>{{ activeHero.name | uppercase }}</p>

      <a [routerLink]="'/heroes/' + activeHero._id">
        <app-button text="View Details"></app-button>
      </a>
    </div>
  </div>

  <p *ngIf="error$ | async" class="error-message">{{ error$ | async }}</p>
</ng-template>
