@import '../../../constants.scss';

@keyframes spinner-keyframes {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 150.6 100.4;
  }
  50% {
    stroke-dasharray: 1 250;
  }
  100% {
    stroke-dashoffset: 502;
    stroke-dasharray: 150.6 100.4;
  }
}

svg {
  width: 4rem;
  animation: 2s linear spinner-keyframes infinite;

  > circle {
    stroke: $color-primary;
  }
}
