@import './constants.scss';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: $color-primary;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
